<p style="color: green"><%= notice %></p>

<h1>Ideas</h1>

<div id="ideas">
<% @ideas.in_groups_of(3, false) do |idea_group| %>
  <div class="row">
  <% @ideas.each do |idea| %>
      <div class="col-md-4 my-3">

      <%= link_to idea do %>
        <%= image_tag(idea.picture_url, width: '600px') if idea.picture.present? %>
      <% end %>
   
    </div>
  <% end %>
</div>
<% end %>
</div>

